.similar_container {
  display: inline-block;
  width: calc(16.666% - 50px);
  margin: 5px 25px 10px 25px;
  vertical-align: top;
}
.current_container {
  margin: 0 auto;
  margin-top: 25px;
}
.side_left {
  width: 25%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  color: #ddd;
  background-color: #666;
}
.side_left__inner {
  padding: 25px;
}
.side_right {
  width: 75%;
  height: 100%;
  background-color: #444;
  position: fixed;
  right: 0px;
  top: 0px;
  color: #ddd;
  overflow: auto;
}
.side_right__inner {
  padding-top: 50px;
}

.favorite_panel {
  width: 75%;
  height: 100vh;
  background-color: #333;
  position: fixed;
  right: -75%;
  top: 0px;
  color: #ddd;
  overflow: auto;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
}
.favorite_panel__inner {
  padding-top: 75px;
}
.favorite_panel--display {
  right: 0px;
}
.half_panel {
  width: 37.5%;
  height: 100vh;
  background-color: #333;
  position: fixed;
  right: -37.5%;
  top: 0px;
  color: #ddd;
  overflow: auto;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
}
.half_panel--display {
  right: 0px;
}
.half_panel__inner {
   padding: 75px 25px 25px 25px;
}
.favorite_icon {
  cursor: pointer;
  line-height: 20px;
  vertical-align: middle;
}
.form_field {
  width: 100%;
  padding: 7px 0px 7px 7px;
}
.form_button {
  height: 100%;
  width: 100%;
}
.panel_title {
  font-size: 12px;
  font-weight: 600;
  margin: 0px 25px 25px 25px;
}
.lastfm_username {
  font-size: 12px;
  font-weight: 600;
}
.form_container {
  display: flex;
}
.close_container {
  position: absolute;
  left: 18px;
  top:18px;
  cursor: pointer;
  height:30px;
  width: 30px;
}
.close_line1 {
  background-color: #fff;
  height: 3px;
  width: 24px;
  position: absolute;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
  left: 0px;
  top: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close_line2 {
  background-color: #fff;
  height: 3px;
  width: 24px;
  position: absolute;
  -webkit-transition: .25s ease-out;
  -moz-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition:.25s ease-out;
  left: 0px;
  top: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.similar_base__container {
  display: flex;
}

.panel_notfound {
  margin: 25px;
  font-size: 48px;
}

.home_nav__link {
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
  line-height: 150%;
  font-weight: 600;
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}
.home_nav__link:hover {
  color: #111;
}
.home_nav__link--selected {
  color: #111;
}
.home_nav__link--selected:hover {
  cursor: default;
}

.track_name {
 font-size: 12px;
 font-weight: 600;
 line-height: 20px;
 vertical-align: middle;
}
.track_artist {
  font-size: 12px;
  line-height: 20px;
  vertical-align: middle;
}

.form_label {
  font-weight: 600;
  font-size: 12px;
}

.recent_tracks__container {
  margin-top: 25px;
  font-size: 12px;
}
.recent_tracks__object {
  display: flex;
  justify-content: space-between;
}
.home_header{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .similar_container {
    width: calc(25% - 50px);
  }
  .side_right {
    width: 100%;
    position: relative;
  }
  .side_left {
    position: relative;
    width: 100%;
  }
  .current_container {
    width: 50%;
  }
}
